spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/urlshortener
    username: app
    password: app
    hikari:
      maximum-pool-size: 10

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

  sql:
    init:
      mode: always

server:
  port: 8080
